# Ignore everything
*

# But not these files...
!.gitignore
!README.md

# And not the projects directory...
!projects/
!projects/**

# But ignore combined lua file
projects/tomb_raider_editor_v2/combined_lua.lua
